#
#  ____  _        _      _              _        ____
# / ___|| | _____| | ___| |_ ___  _ __ (_) ___  |  _ \  ___   ___ ___
# \___ \| |/ / _ \ |/ _ \ __/ _ \| '_ \| |/ __| | | | |/ _ \ / __/ __|
#  ___) |   <  __/ |  __/ || (_) | | | | | (__  | |_| | (_) | (__\__ \
# |____/|_|\_\___|_|\___|\__\___/|_| |_|_|\___| |____/ \___/ \___|___/
#
# Skeletonic Stylus Documentation v0.0.1
# https://docs.skeletonic.io/en
#
# Requirements Files for the Skeletonic Stylus Documentation (v0.0.1).
#
# Copyright (c) Sebastien Rousseau 2021. All rights reserved
# Licensed under the MIT license
#

# Direct dependencies
mkdocs>=1.2.1
mkdocs-i18n>=0.4.2
mkdocs-material>=7.1.8
mkdocs-material-extensions>=1.0.1
mkdocs-minify-plugin==0.5.0
pymdown-extensions>=8.2
